<%- include('../includes/head.ejs') %>
</head>

<body>
    <div class="about">
        <%- include('../includes/nav.ejs') %>
        <div class="about-guide">
        <h2>How does this app work?</h2>
        <span>Optical character recognition or optical character reader (OCR) is the mechanical or electronic conversion of images of typed, handwritten or printed text into machine-encoded text. (Wikipedia)
        </span>
<p class="tldr">TLDR; its a badass technology which can recognize characters (text) on an image.</p>
</div>
<p class="learn-more">Learn more about OCR</p>
<div class="about-learn-more">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZNrteLp_SvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jO-1rztr4O0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    </div>

    <%- include('../includes/end.ejs') %>