<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style.css" />
    <title>Img to PDF</title>
  </head>
  <body>
    <header>
      <h1>Image To PDF</h1>
      <p>Convert your image to text</p>
    </header>
    <h2>Please upload an image to convert into text and download in PDF!</h2>
    <div class="converter">
      <form
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
        id="form"
      >
        <input type="file" name="avatar" id="file" class="inputfile" />
        <label for="file">Choose a file</label>
        <button type="submit" id="convert-btn">Convert</button>
      </form>
      <div id="loading"></div>

    </div>
    <script src="script.js"></script>
  </body>
</html>
