<header class="navigation">
  <h1 class="navigation__header-title"><a href="/" class="logo-title">OCRist</a></h1>
  <p>Convert your image to text</p>
  <nav class="navigation__links">
    <a href="/" class="navigation__links-item">Home</a>
    <a href="about" class="navigation__links-item">About</a>
    <a href="upload" class="navigation__links-item">Upload</a>
  </nav>
</header>
